.modalImg{
    height: 210px;
    width: 100%;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
}

.modalWrap{
    padding: 2px 15px 5px;
}

.modalCardName{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.modalDesc {
    color: gray;
margin-bottom: 10px;
}

.modalIsVeg{
     text-align: center;
     color: #FFB800;
     font-size: 20px;
     margin: 0 0 10px;
}

.price-rating-wrap {
    display: flex;
    justify-content: space-between;
}

.modalPrice span {
    font-weight: 700;
}

.modalRating span {
    font-weight: 700;
}

.modalBtnWrap{
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

.modalButton{
     background-color: #ffb800;
     outline: none;
     border: none;
     padding: 8px 15px;
     border-radius: 10px;
     font-size: 18px;
     text-transform: capitalize;
     color: white;
}